# Keyboard Layout
setxkbmap es &

# Wallpaper
feh --bg-scale /home/marcosrodrui/Desktop/mistborn.png

#Default Brightness
brightnessctl set 100 &

# Composer
picom --experimental-backends &

# Automount Devices
udiskie -t &

#Red light
redshift -P -O 4200 &

# Network
nm-applet &

# Battery
cbatticon &
